@font-face {
  font-family: starTrekTNG;
  src: url(fonts/BLADRMF_.TTF);
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-family: starTrekTNG, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  width: 530px;
  height: 600px;
  background: #DFDBE5;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.header {
  background: #464242;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: whitesmoke;
  font-size: 22px;
}

.player-container {
  margin: 50px;
}

h2 {
  margin-bottom: 20px;
}

.far {
  font-size: 50px;
  margin-right: 30px;
}

#player .far,
#player .choice {
  color: dodgerblue;
  cursor: pointer;
}

#computer .far,
#computer .choice {
  color: rgb(235, 43, 52);
}

#player .far:last-of-type,
#computer .far:last-of-type {
  margin-right: 0;
}

.selected {
  color: black !important;
}

.reset-icon {
  font-size: 30px;
  cursor: pointer;
  margin-left: 50px;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-text {
  font-size: 40px;
  margin: unset;
  margin-top: 20px;
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .game-container {
    width: 95%;
    height: 580px;
  }

  h1 {
    font-size: 24px;
  }

  .player-container {
    margin: 50px 0 25px 25px;
  }

  .far {
    margin-right: 15px;
  }

  .reset-icon {
    margin-top: 25px;
    margin-left: 25px;
  }
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .game-container {
    height: 550px;
  }

  h1 {
    font-size: 22px;
  }

  .player-container {
    margin: 43px 0 25px 20px;
  }

  .far {
    font-size: 43px;
    margin-right: 5px;
  }

  .reset-icon {
    margin-top: 15px;
  }

  .result-container {
    margin: 0 20px;
  }
}
